.Exitsvg {
  svg {
    fill: white;
    width: 50px;
    margin: 2px;
    vertical-align: bottom;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 600px) {
  .Exitsvg {
    svg {
      width: 25px;
    }
  }
}
