.Menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

    div {
      font-size: 5rem;
      width: 100px;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .Menu {
    .logoLink {
      div {
        font-size: 2.5rem;
        width: 50px;
        margin: 5px;
      }
    }
  }
}
