.Menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    border-radius: 50px;
    width: 80%;
    max-width: 500px;
    height: 100px;
    margin: 25px;
    box-shadow: 0 0 10px 1px #404040;

    div {
      font-size: 2.5rem;
      width: 50px;
      margin: 5px;
    }
  }
}
