.Modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s forwards;

  .container {
    width: 70%;
    max-width: 500px;
    font-size: 20rem;

    &.dezoom {
      animation: dezoom 0.5s forwards;
    }
  }

  &.fadeOut {
    animation: fadeOut 0.5s forwards;
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.8);
  }

  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .Modal {
    .container {
      font-size: 10rem;
    }
  }
}
  

