.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
  gap: 4px;

  a {
    filter: grayscale(1);
    transition: all 0.5s;
  }

  a.active {
    filter: none;
    svg {
      fill: gray;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .circle {
    width: 50px;
    margin: 2px;
  }

  .container-numbers {
    display: flex;
    font-size: 4rem;
    line-height: 0;
    position: relative;
    bottom: 1px;
    animation: zoom 1s;

    .number {
      margin: 0 1px;
    }

    :nth-child(1) {
      color: blue;
    }
    :nth-child(2) {
      color: red;
    }
    :nth-child(3) {
      color: lime;
    }
  }

  @media screen and (max-width: 600px) {
    .links {
      gap: 4px;
    }

    .circle {
      width: 25px;
      height: 25px;
    }
    .container-numbers {
      font-size: 1.8rem;
    }
  }
}
