.Number {
  font-family: "Titan One", cursive;
  font-size: 5rem;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
  animation: zoom 0.7s forwards;
}

@media screen and (min-width: 600px) {
  .Number {
    font-size: 8rem;
  }
}
  


