@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #004d70;
  /*Prevent blue square on div click*/
  -webkit-tap-highlight-color: transparent;
  /*Prevent text select*/
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

#root,
html,
body {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 5px;
}

/*Animations*/
@keyframes zoom {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1) rotate(360deg);
  }
}

@keyframes dezoom {
  to {
    transform: scale3d(0, 0, 0) rotate(-360deg);
  }
}
